{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_redirectplus/donation_banner

    Donation banner template for Redirect Plus plugin.
}}

<div class="alert alert-info">
    <div class="row align-items-center">
        <div class="col-md-9">
            <strong><i class="fa fa-heart text-danger"></i> {{#str}}donation_title, tool_redirectplus{{/str}}</strong>
            <p class="mb-0">{{#str}}donation_message, tool_redirectplus{{/str}}</p>
        </div>
        <div class="col-md-3 text-end">
            <div class="mb-2">
                <a href="https://square.link/u/DMRTvZ0Y" target="_blank" class="btn btn-success">
                    <i class="fa fa-gift"></i> {{#str}}donate_now, tool_redirectplus{{/str}}
                </a>
            </div>
            <div>
                <a href="https://github.com/gwizit/moodle-tool_redirectplus/issues" target="_blank" class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-github"></i> {{#str}}report_issue, tool_redirectplus{{/str}}
                </a>
            </div>
        </div>
    </div>
</div>
