{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_redirectplus/redirects_tab

    Custom redirects tab template for Redirect Plus plugin.

    Context variables required for this template:
    * has_redirects - Boolean indicating if there are redirects
    * redirects - Array of redirect objects
    * strings - Language strings
    * add_url - URL for adding new redirect
    * sesskey - Session key
}}

<div class="tab-pane fade" id="redirects">
    <div class="card">
        <div class="card-body">
            {{> tool_redirectplus/donation_banner }}
            
            <h4>{{#str}}customredirects, tool_redirectplus{{/str}}</h4>
            <p>{{#str}}customredirects_desc, tool_redirectplus{{/str}}</p>
            
            <div class="alert alert-info mb-4">
                <h5><i class="fa fa-lightbulb-o"></i> {{#str}}redirectexamples, tool_redirectplus{{/str}}</h5>
                <p>{{#str}}redirectexamples_desc, tool_redirectplus{{/str}}</p>
            </div>

            {{#show_edit_form}}
            <div class="mb-4">
                {{{edit_form_html}}}
            </div>
            <hr>
            {{/show_edit_form}}

            {{^show_edit_form}}
            <div class="mb-3">
                <a href="{{{add_url}}}" class="btn btn-primary" id="btn-add-redirect">
                    <i class="fa fa-plus"></i> {{#str}}addredirect, tool_redirectplus{{/str}}
                </a>
            </div>
            {{/show_edit_form}}

            <div id="redirect-message-area"></div>

            {{#has_redirects}}
            <div class="table-responsive">
                {{{table_html}}}
            </div>
            {{/has_redirects}}

            {{^has_redirects}}
            <div class="alert alert-info">
                {{#str}}noredirects, tool_redirectplus{{/str}}
            </div>
            {{/has_redirects}}
        </div>
    </div>
</div>

{{#js}}
require(['tool_redirectplus/redirects_tab'], function(RedirectsTab) {
    RedirectsTab.init();
});
{{/js}}
