{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_redirectplus/settings_tab

    Settings tab template for Redirect Plus plugin.

    Context variables required for this template:
    * form_action - Form action URL
    * sesskey - Session key
    * behavior - Current behavior setting
    * custom_message - Custom message content
    * redirect_url - Redirect URL
    * strings - Language strings
}}

<div class="tab-pane active" id="settings">
    <form method="post" action="{{{form_action}}}" class="mform">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
        <input type="hidden" name="tab" value="settings">

        <div class="form-group">
            <h4>{{strings.error404behavior}}</h4>
            <div class="form-group mb-4">
                <label for="id_behavior" class="font-weight-bold">{{strings.behavior}}</label>
                <select id="id_behavior" name="behavior" class="form-control">
                    <option value="message" {{#behavior_message}}selected{{/behavior_message}}>{{strings.behaviormessage}}</option>
                    <option value="redirect" {{#behavior_redirect}}selected{{/behavior_redirect}}>{{strings.behaviorredirect}}</option>
                </select>
                <div class="form-text">{{strings.behavior_desc}}</div>
            </div>

            <div class="form-group mb-4" id="message_section" style="display: {{#behavior_message}}block{{/behavior_message}}{{^behavior_message}}none{{/behavior_message}};">
                <label for="id_custom_message" class="font-weight-bold">{{strings.custommessage}}</label>
                <div id="fitem_id_custom_message" class="form-group">
                    <textarea id="id_custom_message" name="custom_message" rows="20" style="min-height: 400px; width: 100%;" class="form-control">{{{custom_message}}}</textarea>
                </div>
                <input type="hidden" name="custom_message_format" value="1">
                <div class="form-text mt-2">{{strings.custommessage_help}}</div>
            </div>

            <div class="form-group mb-3" id="redirect_section" style="display: {{#behavior_redirect}}block{{/behavior_redirect}}{{^behavior_redirect}}none{{/behavior_redirect}};">
                <label for="id_redirect_url" class="font-weight-bold">{{strings.redirecturl}}</label>
                <input type="text" name="redirect_url" id="id_redirect_url" value="{{redirect_url}}" class="form-control" placeholder="https://example.com/404-page">
                <div class="form-text">{{strings.redirecturl_help}}</div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="{{strings.savesettings}}" class="btn btn-primary">
        </div>
    </form>
</div>

{{#js}}
require(['tool_redirectplus/settings', 'jquery'], function(Settings, $) {
    Settings.init({
        apacheText: '{{strings.apache_htaccess}}',
        nginxText: '{{strings.nginx}}',
        pleskText: '{{strings.plesk}}'
    });
    
    // Initialize TinyMCE editor for the custom message field
    $(document).ready(function() {
        if (typeof M !== 'undefined' && M.editor_tinymce) {
            M.editor_tinymce.init_editor('id_custom_message', {
                context: M.cfg.contextid || 1
            });
        }
    });
});
{{/js}}
